body{
    background-color: skyblue;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-weight: bold;
    
}
p{
    font-weight: normal; 
}
h4{
    text-align: center;
}


img{
    width:110px; 
    height:150px
}
#swipe {
    display: none;
}

/*iphone 320px — 480px: */

@media (min-width: 320px) and (max-width: 480px) {
   
    #swipe {
        display: inline;
    }
}


/*ipad */
@media (min-width: 481px) and (max-width: 768px) {

    #swipe {
        display: inline;
    }
}