{% extends "base.html" %}
{% block content %}
<table cellspacing="0" class="column-options">
    <th>Book Name</th>
    <th>Author</th>
    <th>Category</th>
    <th>Book Cover</th>
    <th>Number of Reviews</th>
    <th>Reviews</th>
    <h4>Book List</h4>
    {% for task in tasks %}
        <tr>
        <td>{{ task.book_name }}</td>
        <td>{{ task.Author}}</td>
        <td>{{ task.Category}}</td>
        <td><img src="{{ task.book_cover}}"></td>
        <td>{{ task.Number_of_Reviews}}</td>
        <td>
            <form action="/view_add_review" method="post" role="form">
                <input type="hidden" id="book_id" name="book_id" value="{{ task._id }}">
                <input type="submit" name="submit" value="View/Add Review" class="btn btn-info">
            </form>
        </td>
        <td>{{loop.index}} </td>
        <br>
        </tr>
    {% endfor %}
</table>
{% endblock %}