{% extends "base.html" %}

{% block content %}
<h4>View and Add Review {{ bk }} </h4>
<table cellspacing="0" class="column-options">
    <th>Book Name</th>
    <th>Author</th>
    <th>Category</th>
    <th>Book Cover</th>
     {% for item in bk %}
        <tr>
        <td>{{ item.book_name }}</td>
        <td>{{ item.Author}}</td>
        <td>{{ item.Category}}</td>
        <td><img src="{{ item.book_cover}}"></td>
        </tr>
        <tr>
           <h5>Book Summary:</h5>
            {{ item.book_summary }}
          </td>
           
        </tr>
          <td>
            {{ item._id }}
          <form action="/write_review" method="post" role="form">
            <input type="hidden" id="bookid" name="bookid" value="{{ item._id }}">
            <input type="submit" name="submit" value=Review" class="btn btn-info">
          </form>
          </td>
          {{ item._id }}
    {% endfor %}
       
    
</table>
{% endblock %}